@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stay {
  0%, 100% {
    opacity: 1;
  }
}



/* Define the animation for sliding up */
@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}



/* Define the class to slide up the black screen */
.animate-slide-up {
  
 
    /*all: initial;
    /*background-color: black;*/
  
    animation: slide-up 2s forwards;
  
}





/* Define the class for fading in */
.fadeIn2 {
  opacity: 1;
  transition: opacity 1s;
}

/* Define the class for fading out */
.fadeOut2 {
  opacity: 0;
  transition: opacity 1s;
}



/* animations.css , FADING IN FOR NAVBAR


.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
*/


/* FONT */

@font-face {
  font-family: 'Manrope';
  src: url('/app/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Use this to ensure text remains visible during font loading */
}

body {
  font-family: 'Manrope', sans-serif;
}




/* ... (other styles remain unchanged) */

.invertedText,.invertedLogo { 
  mix-blend-mode: difference;
  color: white;  
}



.invertedLogo img { 
  mix-blend-mode: difference;
  filter: invert(100%);
}
.always-black {
  color: black !important; /* force the color to be black */
   /* force z-index to be on top */
  position: relative;
  
  
  
}


.invert {
  filter: invert(1);
}


.invertedText2 {
  color: white;
  background-color: rgb(72, 68, 68);
}

.black-text {
  color: black;
}


.blackLogo {
  mix-blend-mode: normal;
  filter: none; /* This is to ensure the inverted filter from the invertedLogo class is removed */
  color: black;
}


.blackLogo, .noBlend {
  color: black !important;
  background-color: transparent !important;
  mix-blend-mode: normal !important;
}





@keyframes slide-up-coming {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes slide-down-soon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}




/* New slide animations for COMING and SOON */
.animate-slide-up-coming {
  animation: slide-up-coming 0.5s forwards;
}

.animate-slide-down-soon {
  animation: slide-down-soon 0.5s forwards;
}




@keyframes slideUpDisappear {
  0% {
    transform: translateY(0);
    height: 100%;
  }
  100% {
    transform: translateY(100%);
    height: 0;
  }
}


.logo {
  /* Other styles */
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  animation: logoDisappear 1s forwards;
}

@keyframes logoDisappear {
  0% {
    mask-position: 0% 100%;
  }
  100% {
    mask-position: 100% 100%;
  }
}

.moved-up-sm {
  margin-bottom: 5px; /* or any other pixel value you'd like */
}













.logo-cover {
  position: relative;
}

.logo-cover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: black;
  z-index: 11; /* Make it higher than the black screen to ensure it covers the logo */
}

.animate-slide-up .logo-cover::before {
  animation: slideUp 1s forwards;
}



@keyframes fadeIn2 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.element-to-fade {
  opacity: 0; /* Start with the element hidden */
  animation: fadeIn2 2s forwards;
}
